html{
    scroll-behavior: smooth;
} 
/* Top */
.navbar{
    flex-direction: column;
    height: 12vh;
    position: sticky;
}
.img{
    height: 5vh;
}
.bar a{

    font-size: 0.9rem;
    padding: 0px 5px;
}
/* Home */
.order{
    width: 21vw;
    
}

/* service */
#service{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
#box{
    display: inline;
    width: 80vw;
    /* height: 30vh; */
    text-align: center;
    overflow:hidden;

    /* font-size: 0.6rem; */
    }

/* Clients */
#clients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

    #clients::before{
        content: "";
        position: absolute;
        background: url('bg2.jpg') no-repeat center center/cover;
        height: 950px;
        z-index: -1;
        top: 0px;
        left: 0px;
        width: 100%;
        opacity: 0.3;
    }

/* Contact section */
#contact .form{
    width: 80%;
    padding-bottom: 3px;
}
/* Footer */